::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
  background-color: #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

header nav {
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.15rem;
}

main {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

main .week-dates {
  width: 100%;
  height: 40px;
  background-color: #A2A2A2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .week-dates div {
  width: 90%;
}

main .week-dates div p {
  color: #ffffff;
  font-weight: 400;
}

main .banner {
  width: 100%;
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -340px;
     object-position: 0px -340px;
}

main .main {
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

main .main .newspaper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

main .main .newspaper h2 {
  margin: 20px 0px;
}

main .main .newspaper-boite {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .newspaper-boite article {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .newspaper-boite article div {
  width: 153px;
  height: 153px;
  background-color: #A2A2A2;
  border-radius: 10px;
}

main .main .newspaper-boite article p {
  width: 70%;
  text-align: center;
}

main .main .lessons {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 40px;
}

main .main .lessons h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

main .main .lessons-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

main .main .lessons-box-content {
  background-color: #4A4A4A;
  width: 100%;
  padding: 20px 0px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

main .main .events {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .events-creasso {
  width: 30%;
  height: 80vh;
  background-color: #A2A2A2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
}

main .main .events-creasso div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main .events-creasso div p {
  font-size: 1.5rem;
  font-weight: 600;
}

main .main .events-creasso div img {
  height: 4rem;
  width: auto;
}

main .main .events-creasso img {
  width: auto;
  height: 85%;
  border-radius: 10px;
}

main .main .events-article {
  width: 68%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .events-article-content {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A2A2A2;
  border-radius: 10px;
}

main .main .events-article-content .modifier {
  border-radius: 0px 10px 10px 0px;
}

main .main .events-article-content .p-modifier {
  margin-right: 10%;
}

main .main .events-article-content--modifier {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .main .events-article-content img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

main .main .events-article-content p {
  margin-left: 10%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #4A4A4A;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */