// colors
$first-color : #4A4A4A;
$second-color : #A2A2A2;
$third-color : #000000;
$fourth-color : #ffffff;
$test-color : #ffc0cb;
$test-color-2 : #ff0000;

// width
$global-width : 90%;

// DON'T TOUCH THE BLOCK BELOW
::-webkit-scrollbar {
    display: none;
}

html {
    // basic font
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
}

// DON'T TOUCH THE BLOCK ABOVE

header {
    width: 100%;
    height: 80px;
    background-color: $first-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        width: $global-width;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 2rem;
            font-weight: 700;
            color: $fourth-color;
        }
    }

    nav {
        width: 18%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            color: $fourth-color;
            text-decoration: none;
            font-size: 1.15rem;
        }
    }
}

main {
    width: 100%;
    height: auto;
    background-color: $fourth-color;

    .week-dates {
        width: 100%;
        height: 40px;
        background-color: $second-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        div {
            width: $global-width;

            p {
                color: $fourth-color;
                font-weight: 400;
            }
        }
    }

    .banner {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        object-position: 0px -340px;
    }

    .main {
        width: $global-width;
        height: auto;
        margin-right: auto;
        margin-left: auto;

        .newspaper {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: $fourth-color;

            h2 {
                margin: 20px 0px;
            }

            &-boite {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                article {
                    width: 32%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        width: 153px;
                        height: 153px;
                        background-color: $second-color;
                        border-radius: 10px;
                    }

                    p {
                        width: 70%;
                        text-align: center;
                    }
                }
            }
        }

        .lessons {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            background-color: $fourth-color;
            margin-bottom: 40px;

            h2 {
                margin-top: 30px;
                margin-bottom: 20px;
            }

            &-box {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;

                &-content {
                    background-color: $first-color;
                    width: 100%;
                    padding: 20px 0px;
                    border-radius: 10px;
                    text-align: center;
                    color: $fourth-color;
                    font-weight: 400;
                }
            }
        }

        .events {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-creasso {
                width: 30%;
                height: 80vh;
                background-color: $second-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border-radius: 10px;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    p {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    img {
                        height: 4rem;
                        width: auto;
                    }
                }

                img {
                    width: auto;
                    height: 85%;
                    border-radius: 10px;
                }
            }

            &-article {
                width: 68%;
                height: 80vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                &-content {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: $second-color;
                    border-radius: 10px;

                    .modifier {
                        border-radius: 0px 10px 10px 0px;
                    }

                    .p-modifier {
                        margin-right: 10%;
                    }

                    &--modifier {
                        flex-direction: row-reverse;
                    }

                    img {
                        width: 50%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px 0px 0px 10px;
                    }

                    p {
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 80px;
    background-color: $first-color;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $fourth-color;
}