$couleur-primaire : #00B1FF;
$couleur-secondaire : #E5E5E5;
$couleur-tertiaire : #ffffff;
$test : #ffc0cb;

$marge-haut : 50px;

html {
    font-size: 18px;
    font-family: 'Teko', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: $couleur-primaire;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    h1 {
        color: $couleur-tertiaire;
        font-size: 2rem;
    }

    nav {
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
            color: $couleur-tertiaire;
            font-size: 1.5rem;
            text-decoration: none;
        }
    }
}

main {
    width: 100%;
    height: 80vh;
    margin-top: $marge-haut;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .creasso {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            width: 50%;
            height: auto;
        }

        .affiche {
            width: 100%;
            height: 80%;
            margin-top: 30px;
            object-fit: contain;
        }
    }

    .main {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-haut {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            i {
                font-size: 5rem;
            }

            div p {
                text-align: center;
                font-size: 2rem;
            }
        }

        &-bas {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &-gauche {
                width: 48%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                &-titre {
                    font-size: 2rem;
                }

                &-article1 {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        width: 40%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }

                    p {
                        width: 55%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.2rem;
                    }
                }

                &-article2 {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        width: 40%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }

                    p {
                        width: 55%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.2rem;
                    }
                }
            }

            &-droite {
                width: 48%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                &-texte {
                    background-color: $couleur-secondaire;
                    padding: 20px 150px;
                    border-radius: 10px;
                }

                .barre {
                    width: 60%;
                    height: 2px;
                    background-color: black;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 40px;
    background-color: $couleur-primaire;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h3 {
        color: $couleur-tertiaire;
    }
}